<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCLZU-BHYV10xiG4lBT6TAmDhSjuo9-4Ro</string>
	<key>GCM_SENDER_ID</key>
	<string>503453976374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myFirstFlutter</string>
	<key>PROJECT_ID</key>
	<string>authfirebase-226e5</string>
	<key>STORAGE_BUCKET</key>
	<string>authfirebase-226e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:503453976374:ios:f06a63b03a836d9a065597</string>
</dict>
</plist>